/test.py
/test1.py
/LivoScore.icns
/livoscore.ico
/Livoscore.psd
/Livoscore.spec
/.DS_Store
/stats
/__pycache__
/Utils/__pycache__
/Utils/message_test.json
/Utils/.DS_Store
/Utils/templates/.DS_Store
./Config/matches.json
/psc_LivoScore_tmp/LivoScore
/release
/build
/dist
/.vscode