<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>LivoScore</string>
	<key>CFBundleExecutable</key>
	<string>LivoScore</string>
	<key>CFBundleIconFile</key>
	<string>generated-0cd545fb4afb53a0ed9b3523954c1e160863d314c98e3a76a347a7db0989b52f.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ak.volley.livoscore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LivoScore</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
